.map-title-text{
    font-size: 20px;
}

.form-switch .form-check-input {
    height: 30px;
    width: 60px;
    background-color: #08519c;
    border-color: #08519c;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-switch .form-check-input:checked {
    background-color: #006d2c;
    border-color: #006d2c;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.container-fluid{
    height: 100vh; width: 100vw; padding-top: 1vh
}

#neighbourhoods-title {
    text-align: center;
}
#data-type1 {
    justify-self: right;
}

.form-check #toggle-bike-share:checked{
    background-color: #CB0B7B;
    border-color: #CB0B7B;

}

.form-check #toggle-bike-rack:checked{
    background-color: #672A9C;
    border-color: #672A9C;
    
}

.form-check .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.nb-stat {
    margin-bottom: 0px;
}


.form-check #toggle-bike-share-single:checked{
    background-color: #CB0B7B;
    border-color: #CB0B7B;

}

.form-check #toggle-bike-rack-single:checked{
    background-color: #672A9C;
    border-color: #672A9C;
    
}

.form-check #toggle-bike-path-single:checked{
    background-color: #096a09;
    border-color: #096a09;

}

/* #nb-summary {
    margin-top: 20px;
} */
  