@font-face {
  font-family: 'Nimbus Sans Extd';
  src: url("fonts/nimbus-sans-extd-black.otf") format('opentype');
}

html, body {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Nimbus Sans Extd';
  letter-spacing: 2px;
}

#bikeshare-station-summary {
  margin: 20px;
}


.bar {
  fill: steelblue;
}

#montreal-bikeshare-map-area {
  height: 100%
}

ul {
  list-style-type: disc !important;
  padding-left:1em !important;
  margin-left:1em;
}


#scroller{
  position: fixed;
  right:0;
  height:100vh;
  width:3vw;
  top: 80%;
}

#scroller-buttons {
  vertical-align: middle;
}

.circle-button{
  border:1px solid black; 
  border-radius: 50px;   
  background-color: white;
  width: 1.5vh;
  height: 1.5vh;
  margin-bottom: 1.5vh;
}