#app {
  height: 100vh;
}

#bikeshare-map-area {
  height: 100%
}

#montreal-bikeshare-map-area {
  height: 100%
}

ul {
  list-style-type: disc !important;
  padding-left:1em !important;
  margin-left:1em;
}